html {
  font-family: helvetica, sans-serif;

}

#background {
  background-image: http://4.bp.blogspot.com/-_Dlk3T0lP80/VPlHRbS319I/AAAAAAAARD4/6fw6Ek5-r-U/s1600/David_LaRocca_art_studio_traditional_side.jpg;

}

#main_logo {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
